<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
 

    <title>Home</title>
	<script src="/lib/vue.js"></script>
	<script src="/lib/vue.min.js"></script>
	<script src="/lib/lodash.min.js"></script>
	<script src="/lib/axios.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body class="login">
	<div id="home-message" style="-webkit-text-stroke-width: thin;text-align: center;margin-top:144px">
		<h5>Retrieve Records   Keeping Compliance Records Safe and Secure
                                  Building Better Building Profiles for the Future </h5>
		<div style="margin-top:15px">Who we are?</div>
		<div style="margin-top:10px">We are part of Myriad Compliance which can offer to enhance water management record keeping by providing an overview on your buildings.</div>
		<div style="margin-top:10px">The Retrieve Records online portal lists specific building records for up to 5 years so helping you save time and ease.</div>
		<div style="margin-top:10px">What do we do/benefits?</div>
		<div style="margin-top:10px">Our web portal can help you gain a better understanding of record keeping by allowing for effective management of water systems.</div>
		<div style="margin-top:10px">You can identify certain higher-risk areas like showers or where water is stored and make your own assessments.</div>
		<div style="margin-top:10px">Improves collaboration between contractors and clients.</div>
		<div style="margin-top:10px">Gives peace of mind knowing where to find records over a given time.</div>	
		<div style="margin-top:10px">We are fully insured and protected</div>	
	</div>
		<div  style="text-align: center; margin-top:15px">
			<a class="button" id="next" href="/home">Next</a>
		</div>
	
</body>
</html>